*-baseline
*-merge
*-original
*.debug
*.full
*.o
.*.sw*
.deps/
.dirstamp
.dirstamp/
.fslckout
/autom4te.cache
/cpdup
/dirempty
/dirwatch
/jexecd
/make_index
/nc
/poudriere_statsd
/rename
/rexec
/timeout
/timestamp
/tsort
Makefile
_FOSSIL_
config.status
config.log
host-upgrade.sh
poudriere.fossil
poudriered
src/bin/poudriere.8.gz
src/config.h
src/etc/rc.d/poudriered
src/stamp-h1
