# These minified files are really bothersome on 'git grep'.
src/share/poudriere/html/assets/favicon.png binary
src/share/poudriere/html/assets/logo-dark.png binary
src/share/poudriere/html/assets/DataTables-1.13.8/images/sort_both.png binary
src/share/poudriere/html/assets/DataTables-1.13.8/images/sort_asc_disabled.png binary
src/share/poudriere/html/assets/DataTables-1.13.8/images/sort_desc_disabled.png binary
src/share/poudriere/html/assets/DataTables-1.13.8/images/sort_asc.png binary
src/share/poudriere/html/assets/DataTables-1.13.8/images/sort_desc.png binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/jquery.dataTables.min.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.bootstrap4.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.semanticui.min.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.bootstrap4.min.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.jqueryui.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.dataTables.min.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.bootstrap5.min.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.bootstrap5.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.bootstrap.min.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.bulma.min.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.foundation.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.bulma.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/jquery.dataTables.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.jqueryui.min.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.foundation.min.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.bootstrap.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.dataTables.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/css/dataTables.semanticui.css binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.dataTables.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.bootstrap.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.dataTables.min.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.bulma.min.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.bootstrap.min.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.foundation.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.foundation.min.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.bootstrap5.min.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/jquery.dataTables.min.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.semanticui.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.bulma.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.semanticui.min.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.bootstrap4.min.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.bootstrap4.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.bootstrap5.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/jquery.dataTables.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.jqueryui.min.js binary
src/share/poudriere/html/assets/DataTables-1.13.8/js/dataTables.jqueryui.js binary
src/share/poudriere/html/assets/jquery-3.7.1/jquery-3.7.1.js binary
src/share/poudriere/html/assets/jquery-3.7.1/jquery-3.7.1.min.js binary
src/share/poudriere/html/assets/jquery-3.7.1/jquery-3.7.1.min.map binary
src/share/poudriere/html/assets/logo-light.png binary
src/share/poudriere/html/assets/jquery.dataTables.rowGrouping-1.2.9.js binary
src/share/poudriere/html/assets/poudriere.js binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-reboot.min.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-grid.rtl.min.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-utilities.min.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap.rtl.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-grid.rtl.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap.rtl.min.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-reboot.rtl.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-utilities.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-reboot.rtl.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-reboot.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-grid.min.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-grid.rtl.min.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-utilities.rtl.min.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-utilities.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-grid.min.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-reboot.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-grid.rtl.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-reboot.min.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-utilities.rtl.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap.rtl.min.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap.min.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-grid.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-reboot.rtl.min.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-utilities.min.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-reboot.rtl.min.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-grid.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap.min.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap.rtl.css binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-utilities.rtl.min.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/css/bootstrap-utilities.rtl.css.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.min.js.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.esm.js binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.esm.js.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.js binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.bundle.min.js.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.bundle.min.js binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.min.js binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.bundle.js.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.js.map binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.bundle.js binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.esm.min.js binary
src/share/poudriere/html/assets/bootstrap-5.3.2/js/bootstrap.esm.min.js.map binary
