*-baseline
*-merge
*-original
*.debug
*.full
*.o
.*.sw*
.deps/
.dirstamp
.dirstamp/
.fslckout
/autom4te.cache
/clock_monotonic
/cpdup
/dirempty
/dirwatch
/libnv.a
/libucl.a
/libptsort.a
/locked_mkdir
/jexecd
/make_index
/nc
/poudriered
/poudriere_statsd
/ptsort
/rename
/rexec
/sh
/timeout
/timestamp
/tsort
Makefile
_FOSSIL_
config.status
config.log
host-upgrade.sh
poudriere.fossil
src/bin/poudriere.8.gz
src/config.h
src/etc/rc.d/poudriered
src/stamp-h1
test/*.log
test/etc
external/sh/builtins.c
external/sh/builtins.def
external/sh/builtins.h
external/ptsort/.git
external/ptsort/.gitignore
