*-baseline
*-merge
*-original
*.debug
*.full
*.o
.*.sw*
.deps/
.dirstamp
.dirstamp/
.fslckout
/autom4te.cache
/clock_monotonic
/cpdup
/dirempty
/dirwatch
/locked_mkdir
/jexecd
/make_index
/nc
/poudriere_statsd
/rename
/rexec
/sh
/timeout
/timestamp
/tsort
Makefile
_FOSSIL_
cached
config.status
config.log
host-upgrade.sh
libnv.a
libucl.a
poudriere.fossil
poudriered
src/bin/poudriere.8.gz
src/config.h
src/etc/poudriere.conf
src/etc/poudriere.d/hooks
src/etc/poudriere.d/jails
src/etc/rc.d/poudriered
src/stamp-h1
