# The pool where poudriere will create its jails
ZPOOL=tank

# The ftp host where to download base sets and ssys set for the jails
FTPHOST=ftp.freebsd.org

# IPS for the jails in the network
IPS=192.168.69.0/24

# Ethernet interface for the jail
ETH=nfe0

# the directory where the jail will store the packages and logs
POUDRIERE_DATA=/usr/local/poudriere_data

# determine a loopback interface if dhcp only
USE_LOOPBACK=no

# use portlint to check ports sanity
USE_PORTLINT=no

# if set WORKDIRPREFIX will be mdmfs of the given size (mM or gG)
MFSSIZE=1024m
