# The pool where poudriere will create all the filesystems it needs
# poudriere will use tank/poudriere as its root
#
# You need at least 7GB of free space in this pool to have a working
# poudriere.
ZPOOL=tank

# The ftp host where to download base sets and ssys set for the jails
# You can specify here a hostname or an IP
# replace _CHANGE_THIS_ by your 2-letter country-code.
FTPHOST=ftp._CHANGE_THIS_.freebsd.org

# If you want to use a custom resolv.conf in your jails, set the path to this
# file on the host system below. If unset, the jail's resolv.conf file will
# not be overwritten.
#RESOLV_CONF="/usr/local/etc/poudriere.d/resolv.conf"

# The directory where the jail will store the packages and logs
POUDRIERE_DATA=/usr/local/poudriere_data

# The directory where poudriere will store jails and ports
BASEFS=/usr/local/poudriere

# Use portlint to check ports sanity
USE_PORTLINT=no

# If set WRKDIRPREFIX will be mdmfs of the given size (mM or gG)
MFSSIZE=4G

# If set WRKDIRPREFIX will be using tmpfs
USE_TMPFS=yes

# If set the given directory will be used for the distfiles this allow the share
# the distfiles between jails and ports tree
DISTFILES_CACHE=/usr/ports/distfiles

# Directory used to store "poudriere cron" files. Do not forget to set
# it sticky and give a+rwx.
CRONDIR=${BASEFS}/cron

# Path to the resolv.conf to be used in the jails, the file will be copied from
# the host to the jail
RESOLV_CONF=/etc/resolv.conf

# if set the ports tree will be synced using csup instead of portsnap using the
# given cvsup mirror.
CSUP_HOST=cvsup._CHANGE_THIS_.freebsd.org


