NO_BACKUP=Bopt
MAKE_PACKAGE=gopt
NO_RECURSIVE_CONFIG=Gopt
DONT_SCRUB_DISTFILES=Dopt
RECURSE_THOROUGH=topt
PM_PACKAGES=first
LOCAL_PACKAGEDIR=/usr/ports/packages
PM_NO_CONFIRM=pm_no_confirm
PM_MAKE_ARGS='-DFORCE_PKG_REGISTER BATCH=yes'
