/* vim: set sts=4 sw=4 ts=4 noet: */
#loading_overlay {
	background: #FFF;
	width: 100%;
	height: 100%;
	z-index: 9003;
	top: 0;
	left: 0;
	position: fixed;
}
#loading {
	z-index: 9004;
	top: 50%;
	left: 50%;
	position: absolute;
}

table {
	border-collapse: collapse;
	border: 2px solid black;
	margin-top:	5px;
}
th, td { border: 1px solid black; }

.layout,
.layout th,
.layout td {
	border: 0;
}
.queued { background-color: #aaa; }
.built { background-color: #00CC00; }
.built .row1 { background-color: #00FF00; }
.failed { background-color: #E00000; }
.failed .row1 { background-color: #FF0000; }
.skipped { background-color: #CC6633; }
.skipped .row1 { background-color: #AA6734; }
.ignored { background-color: #FF9900; }
.ignored .row1 { background-color: #FF6F00; }
.remaining { background-color: #E3E3E3; }
.info { background-color: #E3E3E3; }
.new { display: none; }
#header {
	border-bottom: 1px solid black;
}

#header, footer {
	background-color: #eee;
}

body {
	padding-bottom: 25px;
}

/* Disabled once screen too small */
@media (min-width: 979px) {
	body {
		padding-top: 135px;
	}
	.top-icon {
		display: none;
	}
	/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo */
	.anchor {
		border-top: 135px solid transparent;
		margin-top: -135px;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}

}

/* Prevent excess padding when zoomed in */
@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
}

body {
	line-height: normal;
}

#progress, #progress td, #progress span, #progress canvas {
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 0;
}

#progress span {
	margin-left: 1px;
}

.layout table {
	width: 507px; /* canvas width */
	margin: 0;
	line-height: 1;
}

footer {
	bottom: 0;
	height: 17px;
	margin-top: 5px;
	border-top: 1px solid black;
}

#stats {
	float: left;
}
#stats table {
	border: 0;
	margin-bottom: 1px;
	font-size: 9pt;
	text-align: center;
}

#system {
	float: left;
}
#system table {
	border: 0;
	margin-bottom: 1px;
	font-size: 9pt;
	text-align: center;
}

h1 {
	font-size: 16pt;
	text-align: center;
}
h2 {
	background-color: #eee;
}
.status {
	padding-bottom: 20px;
}
br.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

#build_info dt {
	width: auto;
}

#build_info dd {
	margin-left: 40px;
}
