#!/bin/sh
# /usr/local/etc/poudriere.d/hooks/bulk.sh

EMAIL_FROM=an@example.com
EMAIL_TO=another@example.com

status="$1"
shift

if [ "$status" = "start" ]; then
        mail_subject="[${MASTERNAME}] bulk started on `hostname`"

        sendmail -f ${EMAIL_FROM} ${EMAIL_TO} << EOF
To: ${EMAIL_TO}
Subject: ${mail_subject}

Build URL:      ${BUILD_URL}
EOF

elif [ "$status" = "crashed" ]; then
        mail_subject="[${MASTERNAME}] bulk crashed on `hostname`"

        sendmail -f ${EMAIL_FROM} ${EMAIL_TO} << EOF
To: ${EMAIL_TO}
Subject: ${mail_subject}

Build URL:      ${BUILD_URL}
EOF

elif [ "$status" = "done" ]; then
	n_built=$1
	n_failed=$2
	n_ignored=$3
	n_skipped=$4
	n_total=$((${n_built} + ${n_failed} + ${n_ignored} + ${n_skipped}))

        mail_subject="[RELEASE - ${MASTERNAME}] bulk done on `hostname`"

        sendmail -f ${EMAIL_FROM} ${EMAIL_TO} << EOF
To: ${EMAIL_TO}
Subject: ${mail_subject}

Build URL:      ${BUILD_URL}
Built:          ${n_built}
Failed:         ${n_failed}
Ignored:        ${n_ignored}
Skipped:        ${n_skipped}
EOF

fi

exit 0
